
<div id="banner" class="row foo">
  <div class="col-lg-12">
    <h1>Portfolio</h1>
    <p>Pour découvrir mes photographies & mes créations graphiques</p>

    <%=link_to "C'est par ici !" , "/portfolio.html", class: "btn btn-info btn-lg"%> 
  </div>
   <div class="text-center" style="position: relative; top:200px;">
    <a href="#more">
    <i class="fa fa-angle-double-down pulse" aria-hidden="true" style="font-size:80px;color:white;"></i>
    </a>
     </div>
   </div>

    <section class="actu" id="more">
      <div class="container  foo">
        <div class="row bloc2">
         <div class="col-lg-12">
           <h2 class="section-heading">Mes dernières réalisations</h2>
         </div>
        </div>
      
       <div class="row  foo">
        
          <div class="crea col-lg-3 col-sm-4 text-center">
              <%link_to "index.html"do%>
              <%= image_tag "homepage/coca.jpg",class:"img-rounded img-responsive"%>
              <% end %>
            <div class="portfolio-caption">
              <h4 class="service-heading">Coca-Cola</h4>
               <p>Affiche publicitaire</p>
            </div>         
          </div>         
          <div class="crea col-lg-4 col-sm-4 text-center">
             <%link_to "index.html"do%>
             <%= image_tag "homepage/filleruelle.jpg ", class:"img-rounded img-responsive"%>
              <% end %>
            <div class="portfolio-caption">
              <h4 class="service-heading">Guanajuato</h4>
               <p class="">Photo prise à Guanajuato, Mexique</p>
            </div> 
          </div>
          
          <div class="crea col-lg-3 col-sm-4 text-center">
            <%link_to "index.html"do%>
              <%= image_tag ("homepage/canon.jpg"), class:"img-rounded img-responsive"%> 
              <% end %>
            <div class="portfolio-caption">
              <h4 class="service-heading">Canon</h4>
               <p>Affiche publicitaire</p>
            </div> 
          </div>
        </div>  
    
    </div>
  </section>
      
  <section id="contact">
    <div class="container foo">
      <h2>Pour toute demande d'informations</h2>
      <br>
       <button type="button" class="btn btn-info bt-lg" data-toggle="modal" data-target="#message">
       C'est par ici !
       </button>

      </div>   


         <!-- Sign-up Modal -->
    <div class="modal fade" id="message" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Ton message</h4>
             <br><br>
            <form class="form-inline">
              <div class="form-group">
                <label class="sr-only" for="exampleInputName1">Name</label>
                <input type="name" class="form-control" id="exampleInputName1" placeholder="Nom">
              </div>
               <div class="form-group">
                <label class="sr-only" for="exampleInputEmail2">Email</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email"></div>
              <br><br>
              <textarea class="form-control" rows="3"placeholder="Message"></textarea>
           <br><br>
           <button type="submit" class="btn btn-success">Envoyé !</button>
          </form>
           
          <div class="modal-body">
            <!-- Your signup form -->
          </div>
        </div>
      </div>
    </div>
  </section>

  <script type="text/javascript">
  window.sr = ScrollReveal();
  sr.reveal('.foo');
  sr.reveal('.bar');
  </script>


     
