---
title: Jetez un coup d'oeil !
---
<div class="text-center padded">
<h1> les créations les plus récentes </h1>

<ul class="list-inline">
	<li>
		<img src="http://placehold.it/200x200" alt="Isla Puerto Vallarta" class="img-circle">
		<h3>L'oiseau</h3>
	</li>
	<li>
		<img src="http://placehold.it/200x200" alt="Tesoro Guanajuato" class="img-circle">
		<h3>Tesoro</h3>
	</li>
	<li>
		<img src="http://placehold.it/200x200" alt="Low Poly Mask" class="img-circle">
		<h3>Black mask</h3>
	</li>
</ul>
</div>
